body {
  background-color: bisque;
}

header {
  display: flex;
}

header img {
  /* float: left; */
  width: 250px;
  height: 75px;
  margin-left: 30px;
  margin-right: 100px;
}

h1 {
  font-family: 'Lobster';font-size: 75px;
  margin-left: 30px;
  margin-right: 30px;
}

header p {
  /* padding-left: 600px; */
  /* margin: auto; */
  width: max-content;
}

/* nav {
  margin-left: 500px;
  margin-bottom: 40px;
} */

main nav{
  margin-left: 600px;
  margin-top: 60px;
}

#baked {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#cutter {
  margin: 30px;
}

#frosted {
  margin: 30px;
}

#family {
margin-left: 250px;
}

table, th, td {
  border: 1px solid black;
}

footer {
  font-family: 'Lobster';font-size: 20px;
  margin-left: 565px;
}