body {
  background-color: bisque;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: solid black;
}

#salmon {
  padding-top: 30px;
}


h1 {
  font-family: 'Lobster';font-size: 50px;
  /* margin-left: 30px;
  margin-right: 30px; */
  color: #c6d8af;
  /* border: solid black; */
}

#chinook {
  width: 250px;
  height: 75px;
  /* margin-top: 30px; */
  
}

header p {
  width: max-content;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #6f1d1b;
}

main nav{
  margin-left: 600px;
  margin-top: 60px;
}

nav p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#baked {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* border: solid #685369; */
}

#cutter {

  margin: 30px;
  border: solid #685369;
}

#frosted {
  margin: 30px;
  border: solid #685369;

}

#family {
margin-left: 250px;
border: solid #685369;
}

figure p {
  font-size: 25px;
  width: px;
  color: #78290f;
}

h2 {
  font-family:Arial, Helvetica, sans-serif 40px;
  margin-left: 625px;
  color: #78290f;
}

#merch{
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 175px; */
}

#tshirt {
  margin: 30px;
  border: solid #685369;
}

#fish {
  margin: 30px;
  border: solid #685369;
}

main div p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #78290f;
}

footer {
  font-family: 'Lobster';font-size: 20px;
  margin-left: 565px;
  padding-top: 40px;
  color: #15616d;
}