body {
  background-color: bisque;
}

header {
  display:flex;
  justify-content: space-between;
  background-color: white;
}

#salmon {
  /* float: left; */
  width: 250px;
  height: 75px;
  margin-top: 30px;
}

h1 {
  font-family: 'Lobster';font-size: 65px;
  background-color: #c6d8af;
}

#chinook {
  width: 250px;
  height: 75px;
  margin-top: 30px;
  
}

nav {
  margin-left: 300px;
  margin-bottom: 40px;
}

main {
  margin-left: 315px;
  margin-top: 60px;
}

table, th, td {
  border: 3px solid #685369;
  background-color: bisque;
}

h2{
  font-family: 'Lobster';font-size: 30px;
}

#storeForm {
  width: 790px;
  font-family: 'Lobster';font-size: 20px;
}

#formField {
  display: grid;
  float: left;
  margin-left: 30px;
}

legend {
  font-size: 30px;
  margin-bottom: 15px;
}

#storeForm img {
  margin-left: 150px;
  margin-top: 10px;
  height: 250px;
  width: 250px;
  border: solid #685369;
}

button {
  background-color: #c6d8af;
  margin-top: 15px;
}

#merch{
  display: flex;
  justify-content: space-evenly;
  margin-right: 300px;
}

#merch img {
  border: solid #685369
}

footer {
  font-family: 'Lobster';font-size: 20px;
  margin-left: 565px;
}